@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.hero--container {
  max-width: 1300px;
}
.subtitle {
  font-size: 24px;
  font-weight: 700;
}
.title {
  font-size: 50px;
  font-weight: 700;
}
.card__title {
  font-size: 20px;
  font-weight: 500;
}
.text {
  font-size: 18px;
  font-weight: 500;
}
.small__text {
  font-size: 16px;
  font-weight: 400;
}
.faq__step:not(.faq__step:last-child)::before {
  content: '';
  position: absolute;
  top: 36px;
  left: 14px;
  width: 2px;
  height: calc(100% - 30px);
  background-color: lightgray;
}
.button__general {
  font-size: 20px;
  font-weight: 500;
  border: 2px solid crimson;
  border-radius: 6px;
  background-color: pink;
  padding: 1px 30px;
  transition: all 0.3s ease;
}
.button__secondary {
  font-size: 20px;
  font-weight: 500;
  border: 2px solid rgb(76, 76, 76);
  border-radius: 6px;
  background-color: rgb(185, 185, 185);
  padding: 1px 30px;
  transition: all 0.3s ease;
}
.button__general:hover {
  transform: scale(1.05);   
  background-color: crimson;
  color: white;
}
.link__general {
  font-size: 20px;
  font-weight: 500;
  padding: 2px 30px;
  background-color: rgb(190, 120, 255);
  border-radius: 6px;
  border: 2px solid rgb(149, 35, 255);
  transition: all 0.3s ease;
}
.link__general:hover {
  background-color: rgb(143, 23, 255);
  color: white;
}
.button__secondary:hover {
  transform: scale(1.05);   
  background-color: rgb(76, 76, 76);
  color: white;
}
.button__general, .button__secondary:active {
  transform: scale(0.90);
}
.header {
  background-color: unset;
}